NODE_ENV=

# ENVIRONMENT
APP_ENVIRONMENT=
APP_VERSION=

# DATABASE
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=  
POSTGRES_DB=
POSTGRES_PORT=
# LOGGER
LOG_DESTINATION=console



AMOY_RPC_URL=
CHAIN_ID=
ENCOIN_CONTRACT_ADDRESS=
AMOY_PRIVATE_KEY=
CHAIN_SYNC_ENABLED=true
CHAIN_CONFIRMATIONS=1
CHAIN_SYNC_CHUNK_SIZE=1000
CHAIN_SYNC_START_BLOCK=0

# BUGSNAG
BUGSNAG_API_KEY=



#NEXUS
NEXUS_URL=http://nexus-app:3003
TOKEN_INTROSPECTION_URL=http://nexus-app:3003/auth/token/introspect
ADMIN_NEXUS_SUBJECTS=
JWT_ACCESS_SECRET=your-jwt-access-secret-here
JWT_REFRESH_SECRET=your-jwt-refresh-secret-here

FILE_STORAGE=/app/storage

STATIC_RESOURCES=/app/static
