NODE_ENV=development

# ENVIRONMENT
APP_ENVIRONMENT=development
APP_VERSION=1.0.0

# DATABASE
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5434
# LOGGER
LOG_DESTINATION=console



#DATABASE_URL=postgresql://award:awardpass@localhost:5432/awarddb
AMOY_RPC_URL=https://rpc-amoy.polygon.technology
CHAIN_ID=80002
ENCOIN_CONTRACT_ADDRESS=0x97e15E6C5FD7126dc1f127507c91C010A0cb299A
AMOY_PRIVATE_KEY=0x870cd1b4c73a75ff44bfe36f25a1014747831be39dd637405c5328f53f31bc86

# BUGSNAG
BUGSNAG_API_KEY=


JWT_ACCESS_SECRET=your-jwt-access-secret-here
JWT_REFRESH_SECRET=your-jwt-refresh-secret-here

FILE_STORAGE= # 'uploads' # local | azure | digital_ocean

STATIC_RESOURCES= # static_resources